<form class="border-2 rounded-md w-[350px] h-[300px] overflow-hidden">
  <img [src]="quizItem.image" class="w-full h-[50%]" alt="Quiz Image" />
  <div class="content p-4">
    <div class="quiz-title flex justify-between mb-2">
      <h3 class="font-medium text-lg">{{ quizItem.title }}</h3>
      <p class="text-gray-300">{{ quizItem.time | formatter }}</p>
    </div>
    <p class="mb-4">{{ quizItem.description }}</p>
    <button
      type="submit"
      (click)="onSubmit($event)"
      class="text-center rounded-md"
    >
      Start
    </button>
  </div>
</form>
