<div class="role-detail border-2 border-slate-400 mt-4 rounded-md">
  <h2 class="text-2xl font-medium p-2 border-b-2">
    {{ isEdit ? "Edit" : "Create" }} Question
  </h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row flex justify-between gap-4 p-2">
      <div class="form-group w-[50%]">
        <label for="title" class="mb-1">Title</label>
        <input
          type="text"
          formControlName="title"
          id="title"
          placeholder="Enter title"
          class="w-full p-1 border border-slate-400 rounded-md"
        />
      </div>
      <div class="form-group w-[50%]">
        <label for="description" class="mb-1">Description</label>
        <input
          type="text"
          formControlName="description"
          id="description"
          placeholder="Enter description"
          class="w-full p-1 border border-slate-400 rounded-md"
        />
      </div>
    </div>
    <div class="row flex gap-4 p-2">
      <div class="form-group w-[50%]">
        <label for="duration" class="mb-1">Duration</label>
        <input
          type="number"
          formControlName="duration"
          id="duration"
          placeholder="Enter duration"
          class="w-full p-1 border border-slate-400 rounded-md"
        />
      </div>
      <div class="form-group w-[50%] mt-6 flex items-center gap-2">
        <label for="active" class="mb-2">Active</label>
        <input
          type="checkbox"
          class="scale-125"
          formControlName="active"
          id="active"
        />
      </div>
    </div>

    <div class="action flex items-center justify-between">
      <button
        type="button"
        (click)="onShowQuestion()"
        class="ml-2 bg-blue-500 p-2 rounded-md text-white"
      >
        <fa-icon [icon]="faPlus"></fa-icon>
        Show Questions
      </button>
      <div class="flex gap-3 p-2 justify-end">
        <button
          (click)="onCancel()"
          type="submit"
          title="Edit"
          class="p-2 bg-gray-300 text-white rounded-md"
        >
          <fa-icon [icon]="faCancel"></fa-icon>
          Cancel
        </button>
        <button
          type="submit"
          title="Delete"
          class="p-2 bg-blue-500 text-white rounded-md"
        >
          <fa-icon [icon]="faSave"></fa-icon>
          Save
        </button>
      </div>
    </div>
  </form>
</div>

<div class="mt-6" *ngIf="isShowQuestion">
  <ng-container>
    <app-question-list></app-question-list>
  </ng-container>
</div>
