<aside class="w-[250px] border-r-2 min-h-screen absolute top-0 left-0">
  <h3 class="text-2xl font-medium p-2 border-b-2">Menu</h3>
  <a
    [routerLink]="['/manager/quizzes']"
    class="p-2 hover:bg-slate-400 hover:text-white hover:font-medium flex items-center gap-2 block border-b-2"
  >
    <fa-icon [icon]="faQuiz"></fa-icon>
    <span class="text-lg">Quiz Management</span>
  </a>
  <a
    [routerLink]="['/manager/questions']"
    class="p-2 hover:bg-slate-400 hover:text-white hover:font-medium flex items-center gap-2 block border-b-2"
  >
    <fa-icon [icon]="faQuestion"></fa-icon>
    <span class="text-lg">Quetion Management</span>
  </a>
  <a
    [routerLink]="['/manager/users']"
    class="p-2 hover:bg-slate-400 hover:text-white hover:font-medium flex items-center gap-2 block border-b-2"
  >
    <fa-icon [icon]="faUser"></fa-icon>
    <span class="text-lg">User Management</span>
  </a>
  <a
    [routerLink]="['/manager/roles']"
    class="p-2 hover:bg-slate-400 hover:text-white hover:font-medium flex items-center gap-2 block border-b-2"
  >
    <fa-icon [icon]="faRole"></fa-icon>
    <span class="text-lg">Role Management</span>
  </a>
</aside>
