.form-group {
  margin-bottom: 0.5rem;
}
label {
  display: block;
  margin-bottom: 0.1rem;
}

input,
textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.4rem;
  border-radius: 0.8rem;
}

input:focus-within,
textarea:focus-within {
  outline: 1px solid #333;
}

input:focus-within::placeholder {
  color: transparent;
}

textarea {
  resize: none;
}
