<div class="quizzes-control">
  <div class="quizzes-top mt-8">
    <h2 class="text-3xl text-center font-bold mb-6">Take a Quiz</h2>
    <input
      class="w-[93%] border-2 py-1 px-2 placeholder-black focus:placeholder-transparent focus:outline-slate-300"
      type="text"
      name="search"
      id="search"
      placeholder="Enter quiz code to take a quiz"
    />
    <button class="bg-blue-500 w-[7%] text-white">Take Quiz</button>
  </div>

  <div class="quizzes-body">
    <h3 class="text-3xl text-center font-bold mb-6">Quizzes</h3>
    <div class="quizze-list">
      <app-quiz></app-quiz>
    </div>
  </div>
</div>
