<div class="quizzes-control">
  <div class="quizzes-top mt-8">
    <h2 class="text-3xl text-center font-bold mb-6">Take a Quiz</h2>
    <form>
      <input
        class="w-[93%] border-2 py-1 px-2 placeholder-black focus:placeholder-transparent focus:outline-slate-300"
        type="text"
        name="search"
        id="search"
        [(ngModel)]="keyword"
        placeholder="Enter quiz code to take a quiz"
      />
      <button type="submit" class="bg-blue-500 w-[7%] text-white">
        Take Quiz
      </button>
    </form>
  </div>

  <div class="quizzes-body mt-8">
    <h3 class="text-3xl text-center font-bold mb-6">Quizzes</h3>
    <div class="quizze-list flex justify-between items-center">
      <ng-container *ngFor="let item of quizzes">
        <app-quiz [quizItem]="item"></app-quiz>
      </ng-container>
    </div>
  </div>
</div>
