<header class="shadow-md">
  <div class="container w-[75%] m-auto flex justify-between items-center">
    <a [routerLink]="['/']" class="flex items-center gap-2">
      <img [src]="logo" class="w-12 h-12" alt="Logo Quiz" />
      <p class="text-2xl font-medium">Quizzes</p>
    </a>
    <nav class="navbar">
      <ul class="nav-list flex">
        <li class="nav-item">
          <a [routerLink]="['/']" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/quizzes']" class="nav-link">Quizzes</a>
        </li>
        <li class="nav-item" *ngIf="isManager">
          <a [routerLink]="['/manager']" class="nav-link">Management</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/about']" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/contact']" class="nav-link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="profile flex" *ngIf="!isAuthenticated">
      <a [routerLink]="['/auth/login']" class="nav-link">Login</a>
      <a [routerLink]="['/auth/register']" class="nav-link">Register</a>
    </div>
    <div class="user-login" *ngIf="isAuthenticated">
      <a [routerLink]="['/user']">
        <img [src]="logoUser" class="w-8 h-8" alt="Logo User" />
      </a>
    </div>
  </div>
</header>
