<div class="table-list border border-gray-300 rounded-md mb-4">
  <h2 class="px-2 border-b border-slate-300 font-bold py-1">Answer List</h2>
  <app-table
    [columns]="columns"
    [dataApi]="data"
    (create)="onCreate()"
    (delete)="onDelete($event)"
    (edit)="onEdit($event)"
  ></app-table>
</div>
<div class="border border-gray-300 rounded-md p-2" *ngIf="isShow">
  <app-answer-details
    *ngIf="isShow"
    (cancel)="onCancelDetails()"
    [isEdit]="isEdit"
    [selectedItem]="selectedItem"
  ></app-answer-details>
</div>
