.form-group {
  margin-bottom: 0.5rem;
}

label {
  display: block;
  margin-bottom: 0.2rem;
}

input {
  width: 100%;
  padding: 0.3rem;
  border-radius: 0.8rem;
}

input:focus-within {
  outline: 1px solid gray;
}
