<div class="container">
  <div class="list border-2 border-slate-400 rounded-md">
    <h1 class="p-1 text-center font-medium text-2xl border-b-2">Role List</h1>
    <app-table
      [dataApi]="dataApi"
      [columns]="columns"
      (edit)="onEdit($event)"
      (create)="onCreate()"
      (delete)="onDelete($event)"
    ></app-table>
  </div>
  <app-role-details
    *ngIf="isShow"
    (cancel)="onCancelDetail()"
    [selectedItem]="selectedItem"
    [isEdit]="isEdit"
  ></app-role-details>
</div>
