<div class="mt-4">
  <p
    class="mb-4 hover:bg-slate-200 border border-slate-400 p-2 rounded-md text-center"
  >
    Image: {{ userInformation.thumbnailUrl }}
  </p>
  <p
    class="mb-4 hover:bg-slate-200 border border-slate-400 p-2 rounded-md text-center"
  >
    First Name: {{ userInformation.firstName }}
  </p>
  <p
    class="mb-4 hover:bg-slate-200 border border-slate-400 p-2 rounded-md text-center"
  >
    Last Name: {{ userInformation.lastName }}
  </p>
  <p
    class="mb-4 hover:bg-slate-200 border border-slate-400 p-2 rounded-md text-center"
  >
    Display Name: {{ userInformation.displayName }}
  </p>
  <p
    class="mb-4 hover:bg-slate-200 border border-slate-400 p-2 rounded-md text-center"
  >
    Username: {{ userInformation.username }}
  </p>
  <p
    class="mb-4 hover:bg-slate-200 border border-slate-400 p-2 rounded-md text-center"
  >
    Email: {{ userInformation.email }}
  </p>
  <p
    class="mb-4 hover:bg-slate-200 border border-slate-400 p-2 rounded-md text-center"
  >
    PhoneNumber {{ userInformation.phoneNumber }}
  </p>
</div>
